@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&family=Quicksand:wght@400;500;600&family=Roboto:ital,wght@0,400;0,700;1,900&family=Ubuntu:wght@300;400;500&display=swap');
:root , .navbar , .starting-heading ,.main-div{
  background-color: #F5F6F6;
  color: #5B5B5B;
  font-family: 'Poppins', sans-serif;
}
.logo-size{
  width: 50px;
  height: 50px;
}
.nav-link{
  margin-left: 12px !important;
}
h1{
  color: #000000;
  margin-bottom: 2%;
}
p{
  font-weight: 400;
  color: #A7A7A7;
}
.starting-heading{
  margin-top: 3%;
  text-align: center;
}
.search-div{

    margin-left: 35%;
    margin-bottom: 3%;
}
.card{
  border-radius: 20px;
  margin-left: 25%;
  margin-bottom: 5%;
  align-items: center;
}
.mid-navbar{
  margin-left: 10% !important;
}
.big-letter{
  font-size: 50px;
  font-weight: 700;
}
.card-imges{
  width: 90%;
  height: 250px;
  margin-top: 5%;
  border-radius: 10px;
}
.card-div{
  width: 23rem !important;
}
.card-title{
  text-align: center;
}
.page-div{
  margin-top: 20px !important;
}
.pag1{
  margin-right: 10px;
}
.pagination {
  color: #000000 !important;
}
.download-span{
  color: #000000;
  font-weight: 800;
  font-size: x-large;
}
.premium-span{
  color: #d28e29;
}
.free-span{
  color: #2593ee;
}
.heading-div{
  font-size: medium;
  font-weight: 500;
}
.svg-icon{
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-right: 25px;
}
.first-svg{
  margin-left: 45em;
}
.last-div{
  margin-bottom: 20px;
  margin-top: 10px;
}
.icon{
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.icon2{
  width: 30px;
  height: 30px;
  margin-right: 120px;
}
.next-page-button{
  margin-right: 35%;
  margin-top: 1%;  
  background-color: white;
}